<svg xmlns="http://www.w3.org/2000/svg"
     width="189"
     height="321"
     viewBox="0 0 141.75 240.75"
     preserveAspectRatio="xMidYMid meet"
     class="w-full h-full block">

  <defs>
    <clipPath id="front9c23c98e75">
      <path d="M 0 0.0859375 L 141.5 0.0859375 L 141.5 240.414062 L 0 240.414062 Z M 0 0.0859375 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front254088d393">
      <path d="M 0 0.0859375 L 141.386719 0.0859375 L 141.386719 240.21875 L 0 240.21875 Z M 0 0.0859375 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front2839b3af6f">
      <path d="M 98 196.246094 L 133 196.246094 L 133 224 L 98 224 Z M 98 196.246094 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front4e70045a99">
      <path d="M 0 208 L 141.5 208 L 141.5 229.160156 L 0 229.160156 Z M 0 208 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="frontc66de44be2">
      <path d="M 0 196.246094 L 112 196.246094 L 112 220 L 0 220 Z M 0 196.246094 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front2e5112e112">
      <path d="M 93 210 L 141.5 210 L 141.5 229.160156 L 93 229.160156 Z M 93 210 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front7663744ad0">
      <path d="M 0 221 L 141.5 221 L 141.5 223 L 0 223 Z M 0 221 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="frontafb09332e0">
      <path d="M 0 229.105469 L 141.5 229.105469 L 141.5 240.414062 L 0 240.414062 Z M 0 229.105469 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="fronteb0c735578">
      <path d="M 0 0.0859375 L 141.5 0.0859375 L 141.5 14.222656 L 0 14.222656 Z M 0 0.0859375 " clip-rule="nonzero"/>
    </clipPath>
    <clipPath id="front0a4734a8f7">
      <rect x="0" width="142" y="0" height="241"/>
    </clipPath>
  </defs>

  <g clip-path="url(#front9c23c98e75)">
    <path fill="#ffffff" d="M 0 0.0859375 L 141.5 0.0859375 L 141.5 240.414062 L 0 240.414062 Z"/>
    <g clip-path="url(#front0a4734a8f7)">
      <g clip-path="url(#front254088d393)">
        <path fill="{{ theme_light_primary|default:'#f8f8ec' }}" d="M 0 0.0859375 L 141.386719 0.0859375 L 141.386719 240.21875 L 0 240.21875 Z"/>
      </g>
      <g clip-path="url(#front2839b3af6f)">
        <path fill="{{ theme_ternary|default:'#ff8000' }}" d="M 125.753906 223.109375 L 98.964844 196.261719 L 111.5 196.261719 L 132.023438 216.832031 Z"/>
      </g>
      <g clip-path="url(#front4e70045a99)">
        <path fill="{{ theme_secondary|default:'#333333' }}" d="M -6.78125 208.28125 L 148.070312 208.28125 L 148.070312 229.148438 L -6.78125 229.148438 Z"/>
      </g>
      <g clip-path="url(#frontc66de44be2)">
        <path fill="{{ theme_ternary|default:'#fea621' }}" d="M 111.496094 196.257812 L 87.953125 219.855469 L -6.78125 219.855469 L -6.78125 210.972656 L 84.28125 210.972656 L 98.964844 196.257812 Z"/>
      </g>
      <g clip-path="url(#front2e5112e112)">
        <path fill="{{ theme_ternary|default:'#fea621' }}" d="M 148.070312 210.609375 L 148.070312 219.488281 L 116.144531 219.488281 L 106.503906 229.148438 L 93.972656 229.148438 L 112.472656 210.609375 Z"/>
      </g>
      <g clip-path="url(#front7663744ad0)">
        <path fill="#e5e5e5" d="M -6.78125 221.320312 L 148.070312 221.320312 L 148.070312 222.40625 L -6.78125 222.40625 Z"/>
      </g>
      <g clip-path="url(#frontafb09332e0)">
        <path fill="{{ theme_secondary|default:'#333333' }}" d="M -15.179688 229.105469 L 156.613281 229.105469 L 156.613281 271.515625 L -15.179688 271.515625 Z"/>
      </g>
      <g clip-path="url(#fronteb0c735578)">
        <path fill="{{ theme_secondary|default:'#333333' }}" d="M -15.179688 -15.527344 L 156.574219 -15.527344 L 156.574219 14.222656 L -15.179688 14.222656 Z"/>
      </g>
    </g>
  </g>

  <text x="70.8" y="35" text-anchor="middle" font-size="8" font-weight="700" fill="{{ theme_secondary|default:'#333333' }}">
    {{ school_name|default:"SCHOOL NAME"|upper|truncatechars:18 }}
  </text>
  <text x="70.8" y="43" text-anchor="middle" font-size="5" letter-spacing="1" fill="{{ theme_secondary|default:'#333333' }}">
    {{ card_type_label|default:"ID CARD"|upper|truncatechars:18 }}
  </text>

  <rect x="37" y="50" rx="6" ry="6" width="68" height="12" fill="{{ theme_ternary|default:'#f4a621' }}"/>
  <text x="71" y="58" text-anchor="middle" font-size="5" font-weight="700" fill="{{ theme_secondary|default:'#6b3f00' }}">
    {{ card_label|default:"STUDENT ID CARD"|upper|truncatechars:22 }}
  </text>

  <rect x="46" y="70" width="50" height="62" fill="#d9d9d9"/>
  {% if member_photo_url %}
    <image href="{{ member_photo_url }}" x="46" y="70" width="50" height="62" preserveAspectRatio="xMidYMid slice"/>
  {% endif %}

  <text x="20" y="145" font-size="5" font-weight="700" fill="#444">Name</text>
  <text x="52" y="145" font-size="5" fill="#444">:</text>
  <text x="58" y="145" font-size="5" fill="#444">{{ member_name|default:"" }}</text>

  <text x="20" y="154" font-size="5" font-weight="700" fill="#444">Student ID</text>
  <text x="52" y="154" font-size="5" fill="#444">:</text>
  <text x="58" y="154" font-size="5" fill="#444">{{ member_id_number|default:"" }}</text>

  <text x="20" y="163" font-size="5" font-weight="700" fill="#444">D.O.B</text>
  <text x="52" y="163" font-size="5" fill="#444">:</text>
  <text x="58" y="163" font-size="5" fill="#444">{{ member_dob|default:"" }}</text>

  <text x="20" y="172" font-size="5" font-weight="700" fill="#444">Class</text>
  <text x="52" y="172" font-size="5" fill="#444">:</text>
  <text x="58" y="172" font-size="5" fill="#444">{{ member_class_label|default:"" }}{% if member_section %} - {{ member_section }}{% endif %}</text>

  <text x="20" y="181" font-size="5" font-weight="700" fill="#444">Address</text>
  <text x="52" y="181" font-size="5" fill="#444">:</text>
  <text x="58" y="181" font-size="5" fill="#444">{{ member_address_lines.0 }}</text>
  <text x="58" y="188" font-size="5" fill="#444">{{ member_address_lines.1 }}</text>
</svg>
